body {
  padding: 1rem;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 1rem;
  grid-template-areas: 
    "a a a"
    'b c c'
    'b d g'
    'e f g'
  ;

}

.image {
  width: 100%;
  height: 100%;

  /* 이미지 넣을 박스 안에 최대한 이미지가 꽉 차게 넣는 방법 */
  object-fit: cover;
  /* 비율은 유지하면서 안에 꽉차게 넣기 */
  /* object-fit: contain; */
  /* 비율은 유지 하면서 적당히 */
  /* object-fit: scale-down; */


}


.image1 {
  grid-area:a;
}
.image2 {
  grid-area:b;
}
.image3 {
  grid-area:c;
}
.image4 {
  grid-area:d;
}
.image5 {
  grid-area:e;
}
.image6 {
  grid-area:f;
}
.image7 {
  grid-area:g;
}


