{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- static 파일 불러오기 -->
  <link rel="stylesheet" href="{% static "stylesheets/style.css" %}">
  <img src="{% static "logo.png" %}" alt="logo">
  <h1>글 목록</h1>
  {% if request.user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
    <!-- 로그 아웃 -->
    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
    <!-- 회원 탈퇴 -->
    <form action="{% url "accounts:delete" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <a href="{% url "articles:create" %}">CREATE</a>
  {% else %}
    <!-- 로그인 -->
    <a href="{% url "accounts:login" %}">Login</a> |
    <!-- 회원 가입 -->
    <a href="{% url "accounts:signup" %}">회원가입</a> |
  {% endif %}

  <hr>
  {% for article in articles %}
    <div>
      <p>글 번호: {{ article.pk }}</p>
      <p>
        글 제목: <a href="{% url "articles:detail" article.pk %}">{{ article.title }}</a>
      </p>
    </div>
    <hr>
  {% endfor %}
{% endblock content %}